<div class="feed">
  <% @posts.each do |post| %>
      <%= render(:partial => 'feedBox', :locals => {:foo => post.url, :bar => post.title, :link => post.id, :spam => post.author,
                                                    :eggs => post.updated_at, :mush => post.body, :cap => post.caption}) %>
  <% end %>
</div>