<div class="storyContainer">
  <div id="storyBox">
    <div class="activePost" id="postOne">
      <h1 id="title"><-%= @postOne.title %>:</h1>
      <p id="blurb"><-%= @postOne.blurb %></p>
      <a id="storyLink" href="<-%= @postOne.picture %>">>~Read The Post~</a>
    </div>
    <div class="inactivePost" id="postTwo">
      <h1 id="title"><-%= @postTwo.title %>:</h1>
      <p id="blurb"><-%= @postTwo.blurb %></p>
      <a id="storyLink" href="<-%= @postTwo.picture %>">>~Read The Post~</a>
    </div>
    <div class="inactivePost" id="postThree">
      <h1 id="title"><-%= @postThree.title %>:</h1>
      <p id="blurb"><-%= @postThree.blurb %></p>
      <a id="storyLink" href="<-%= @postThree.picture %>">>~Read The Post~</a>
    </div>
    <div class="inactivePost" id="postFour">
      <h1 id="title"><-%= @postFour.title %>:</h1>
      <p id="blurb"><-%= @postFour.blurb %></p>
      <a id="storyLink" href="<-%= @postFour.picture %>">>~Read The Post~</a>
    </div>
  </div>
  <div class="switchContainer">
    <div class="boxSelected border" id="switchOne">
      <div class="switchBox" id="boxOne"><h3><-%= @postOne.title %></h3></div>
    </div>
    <div class="boxDefault border" id="switchTwo">
      <div class="switchBox" id="boxTwo"><h3><-%= @postTwo.title %></h3></div>
    </div>
    <div class="boxDefault border" id="switchThree">
      <div class="switchBox" id="boxThree"><h3><-%= @postThree.title %></h3></div>
    </div>
    <div class="boxDefault border" id="switchFour">
      <div class="switchBox" id="boxFour"><h3><-%= @postFour.title %></h3></div>
    </div>
    <!--<div class="boxDefault border" id="switchFive">
      <div class="switchBox"><h3>This is article five</h3></div>
    </div>-->
  </div>
</div>

<div class="bottomContainer">
  <div id="pictureBox"></div>
  <div id="blurbBox">
    <h1>welcome to my blog</h1>
    <p>
      I am a writer of many hats; from computer code to English literature. There is no easy way to summarize all of my
    ideas, views, and opinions to fit into a small block, such as this, so I have a <a href="<%= landing_index_url %>">page</a>
    devoted to that.
    </p>
  </div>
</div>