<div class="storyContainer">
  <div id="storyBox"></div>
  <div class="switchContainer">
    <div class="boxSelected border" id="switchOne">
      <div class="switchBox"><h3>This is an example of a reallly long title. . .</h3></div>
    </div>
    <div class="boxDefault border" id="switchTwo">
      <div class="switchBox"><h3>This is article two</h3></div>
    </div>
    <div class="boxDefault border" id="switchThree">
      <div class="switchBox"><h3>This is article three</h3></div>
    </div>
    <div class="boxDefault border" id="switchFour">
      <div class="switchBox"><h3>This is article four</h3></div>
    </div>
    <!--<div class="boxDefault border" id="switchFive">
      <div class="switchBox"><h3>This is article five</h3></div>
    </div>-->
  </div>
</div>
