/* line 4, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer {
  position: relative;
  margin: 5% 10% 0 10%;
  width: 80%;
  height: 60%;
  border-radius: 5%;
  background-color: rgba(15, 225, 0, 0.3);
}
/* line 14, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer #storyBox {
  position: relative;
  float: left;
  margin: 0 5%;
  height: 85%;
  width: 90%;
  border-radius: 2% 2% 0 0;
  background-color: rgba(3, 5, 0, 0.35);
}
/* line 25, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer #storyBox .activePost {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 30, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer #storyBox .activePost h1 {
  padding: 2% 2.5% 0 2.5%;
  border-spacing: inherit;
  font-family: Gashp;
  line-height: 100%;
  text-shadow: -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;
  color: #AAAA00;
}
/* line 41, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer #storyBox .activePost p {
  padding: 2% 2.5% 0 2.5%;
  font-family: Raleway-SemiBold;
  font-size: 18px;
  color: #CCCC66;
}
/* line 53, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer #storyBox .inactivePost {
  position: absolute;
  top: 0;
  left: 0;
  visibility: collapse;
}
/* line 61, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer .switchContainer {
  position: relative;
  float: left;
  margin: 0 5%;
  height: 15%;
  width: 90%;
}
/* line 71, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer .switchContainer .boxSelected {
  position: relative;
  float: left;
  margin: 0;
  height: 100%;
  width: 25%;
  border: none;
  background-color: rgba(20, 50, 8, 0.6);
}
/* line 82, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer .switchContainer .boxSelected .switchBox {
  position: relative;
  float: left;
  margin: 0 0 10% 0;
  height: 78%;
  width: 98%;
  border: solid 2px #000;
  background-color: rgba(180, 200, 150, 0.6);
}
/* line 94, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer .switchContainer .boxSelected .switchBox h3 {
  margin: 0;
  text-align: center;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  font-size: 18px;
  font-family: Walkway;
  color: yellow;
}
/* line 107, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer .switchContainer .boxDefault {
  position: relative;
  float: left;
  margin: 0;
  height: 100%;
  width: 25%;
  border: none;
  background-color: rgba(10, 13, 8, 0.8);
}
/* line 118, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer .switchContainer .boxDefault .switchBox {
  position: relative;
  float: left;
  margin: 0 0 10% 0;
  height: 78%;
  width: 98%;
  border: solid 2px #000;
  background-color: rgba(80, 100, 60, 0.6);
}
/* line 130, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.storyContainer .switchContainer .boxDefault .switchBox h3 {
  margin: 0;
  text-align: center;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  font-size: 18px;
  font-family: Walkway;
  color: yellow;
}

/* line 145, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.bottomContainer {
  position: relative;
  float: left;
  margin: 2.5% 10% 0 10%;
  height: 25%;
  width: 80%;
  border-radius: 5%;
  background-color: rgba(15, 225, 0, 0.3);
}
/* line 156, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.bottomContainer #pictureBox {
  position: relative;
  float: left;
  margin: 0 0 0 5%;
  height: 100%;
  width: 30%;
  background: url("/assets/$_warious_2-b7f26f523b604733c44a7da40802e84d062fbb1e25f523ec8b39cb444f1b6931.jpg") no-repeat;
  background-size: cover;
}
/* line 170, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.bottomContainer #blurbBox {
  position: relative;
  float: left;
  margin: 0 5% 0 0;
  height: 100%;
  width: 60%;
  background-color: rgba(3, 8, 0, 0.35);
}
/* line 181, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.bottomContainer #blurbBox h1 {
  padding: 2% 0 0 10%;
  font-family: ComingSoon;
  text-shadow: -4px 0 #000, 0 4px #000, 4px 0 #000, 0 -4px #000;
  color: rgba(170, 225, 16, 0.9);
}
/* line 191, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/landing.scss */
.bottomContainer #blurbBox p {
  padding: 0 5%;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  font-size: 18px;
  color: white;
}
/* line 1, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@font-face {
  font-family: optie;
  src: url(/assets/optie-c88008e91e35dc0413f5dc8e76116e920b9efebd19294ad7235711a6f36980ba.ttf);
}
@font-face {
  font-family: popwei;
  src: url(/assets/popwei-0e6bed010f1070496ec98d9bcf20129915919040720fcdff771873de74509e76.ttf);
}
@font-face {
  font-family: ComingSoon;
  src: url(/assets/ComingSoon-f9a8306e3b6f9f689597934b828c85797825285f30fe606a81b5400f6d810ee9.ttf);
}
@font-face {
  font-family: Algol_Italic;
  src: url(/assets/Algol_Italic-6e8e036d159e6e01521b38c4c8ed588a9a380c8025655b5de2ef77307634a696.otf);
}
@font-face {
  font-family: Algol;
  src: url(/assets/Algol-af473396b5be37bc1df70df9fa34888ef706ef321f07bb6dead5a20b7d25e526.otf);
}
@font-face {
  font-family: Fanatika;
  src: url(/assets/fanatika-3a8c2491f7ecb9541f93fb8fc033397ba62efaa281abffb8dc5add724636b4ac.ttf);
}
@font-face {
  font-family: FanatikaTwo;
  src: url(/assets/fanatikatwo-2469f2c99860cc2573f5a9987c0f1eb09df7159cc879c119b991561114df060c.ttf);
}
@font-face {
  font-family: Gashp;
  src: url(/assets/gashp-7380f7b0c222018118122be5df8d61795e1c23780603c8cf272c150fa81b9f2f.ttf);
}
@font-face {
  font-family: Mad_Potato_Bill;
  src: url(/assets/Mad_Potato_Bill-df5c8d847db8ecea1eaa57451093e2580cb0ef3c07ba8ddfc11c6adc21b0db4c.ttf);
}
@font-face {
  font-family: Messy_Fika;
  src: url(/assets/messy_fika-9ca02664e6ab08d0e9fad92cf0573d3a7fe353aa46ad852f0ef18e6e133d9f38.ttf);
}
@font-face {
  font-family: Rain_Tax;
  src: url(/assets/Rain_Tax-60731d8c4fe5c585082d3435f2fbf74384c4d1ecc30d9bdc5e33de872fd1b7c2.otf);
}
@font-face {
  font-family: Walkway;
  src: url(/assets/Walkway-1cdf57da030243200d7d6cd4ef7d0a6cfcc145fe87547c45bf7a12449826c630.ttf);
}
@font-face {
  font-family: Hastings;
  src: url(/assets/Hastings-5164dd32d468bfe17b6543eb9df79d83d3622bd8c31364ff599c00b24b5c8f7f.ttf);
}
@font-face {
  font-family: Castor;
  src: url(/fonts/CASTOR_.ttf);
}
@font-face {
  font-family: CastorM;
  src: url(/assets/CASTORM_-6a3ad435b477bec8a7583a23e83487680677d60e1954594b15cee8975f5289d3.ttf);
}
@font-face {
  font-family: Kingthings_Sans;
  src: url(/assets/Kingthings_Sans-a90db60e3c3becf969d68c3a8d0d17e33c1922fcd3979c3220c12d503c754aba.ttf);
}
@font-face {
  font-family: Raleway-Medium;
  src: url(/fonts/Raleway-Mediun.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(/assets/Raleway-Regular-169dfb506b814bd50fd1876b301c78ce8213af7e5dcbbb1f5da713f9d67fd909.ttf);
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url(/assets/Raleway-SemiBold-396e1a6c042c913ea2f5a8655f043b73fc7560806a6dc89ea189a6fefc8af1b1.ttf);
}
/* line 111, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
html {
  background-image: url("/assets/tile-92522fdffd07812f837f425e28c100c811dfa97ef36550411b3dcc396fe4cc83.jpg");
}

/* line 115, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  font-size: 20px;
}

/* line 122, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
a:link {
  color: rgba(10, 255, 0, 0.8);
}

/* line 126, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
a:visited {
  color: white;
}

/* line 130, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
a:hover {
  color: lime;
}

/* line 136, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: -4;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 149, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.backdrop_3 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 162, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.backdrop_2 {
  position: absolute;
  left: 1%;
  right: 1%;
  margin: 0;
  height: 100%;
  width: 98%;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 175, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.backdrop_1 {
  position: absolute;
  left: 2%;
  right: 2%;
  margin: 0;
  height: 100%;
  width: 96%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 188, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.container {
  position: absolute;
  left: 3%;
  right: 3%;
  margin: 0;
  height: 100%;
  width: 94%;
  z-index: 1;
  background-color: rgba(110, 120, 100, 0.8);
}
/* line 201, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.container #heading {
  position: relative;
  float: left;
  margin: 0 10%;
  padding: 0;
  height: 5%;
  min-height: 38px;
  width: 80%;
  min-width: 400px;
  border-radius: 30% 30% 0 0;
  background-color: rgba(26, 32, 22, 0.5);
}
/* line 216, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.container #heading h1 {
  position: relative;
  float: left;
  margin: 1% 0 0 2.5%;
  height: 100%;
  font-size: 42px;
  font-family: optie;
  color: papayawhip;
}
/* line 229, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.container #heading p {
  position: relative;
  float: left;
  margin: 1% 0;
  font-size: 24px;
  font-family: popwei;
  color: rgba(150, 250, 0, 0.95);
}
/* line 244, C:/Users/Loki/Projects/Web/Rails/warious/app/assets/stylesheets/application.scss */
.container #page_body {
  position: relative;
  float: left;
  margin: 0 10%;
  height: 95%;
  width: 80%;
  min-width: 400px;
  background-color: rgba(95, 115, 80, 0.7);
}
