/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: optie;
  src: font-url("optie.ttf");
}

@font-face {
  font-family: popwei;
  src: font_url("popwei.ttf");
}

@font-face {
  font-family: ComingSoon;
  src: font_url("ComingSoon.ttf");
}

@font-face {
  font-family: Algol_Italic;
  src: font_url("Algol_Italic.otf");
}

@font-face {
  font-family: Algol;
  src: font_url("Algol.otf");
}

@font-face {
  font-family: Fanatika;
  src: font_url("fanatika.ttf");
}

@font-face {
  font-family: FanatikaTwo;
  src: font-url("fanatikatwo.ttf");
}

@font-face {
  font-family: Gashp;
  src: font-url("gashp.ttf");
}

@font-face {
  font-family: Mad_Potato_Bill;
  src: font-url("Mad_Potato_Bill.ttf");
}

@font-face {
  font-family: Messy_Fika;
  src: font-url("messy_fika.ttf");
}

@font-face {
  font-family: Rain_Tax;
  src: font_url("Rain_Tax.otf");
}

@font-face {
  font-family: Walkway;
  src: font_url("Walkway.ttf");
}

@font-face {
  font-family: Hastings;
  src: font_url("Hastings.ttf");
}

@font-face {
  font-family: Castor;
  src: font_url("CASTOR_.ttf");
}

@font-face {
  font-family: CastorM;
  src: font_url("CASTORM_.ttf");
}

@font-face {
  font-family: Kingthings_Sans;
  src: font_url("Kingthings_Sans.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: font_url("Raleway-Mediun.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: font_url("Raleway-Regular.ttf");
}
@font-face {
  font-family: Raleway-SemiBold;
  src: font_url("Raleway-SemiBold.ttf");
}

html {
  background-image: url(image_path("tile.jpg"));
}

a {
  text-decoration: none;
  //text-shadow: -1px 0 #991100, 0 1px #991100, 1px 0 #991100, 0 -1px #991100;

  font-size: 20px;
}

a:link {
  color: rgba(10, 255, 0, 0.8);
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(0, 255, 0, 1);
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  z-index: -4;

  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop_3 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  z-index: -3;

  background-color: rgba(0, 0, 0, 0.4);
}

.backdrop_2 {
  position: absolute;
  left: 1%;
  right: 1%;
  margin: 0;
  height: 100%;
  width: 98%;

  z-index: -2;

  background-color: rgba(0, 0, 0, 0.4);
}

.backdrop_1 {
  position: absolute;
  left: 2%;
  right: 2%;
  margin: 0;
  height: 100%;
  width: 96%;

  z-index: -1;

  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  position: absolute;
  left: 3%;
  right: 3%;
  margin: 0;
  height: 100%;
  width: 94%;

  z-index: 1;

  //background-color: rgba(26, 32, 22, .6);
  background-color: rgba(110, 120, 100, 0.8);

  #heading {
    position: relative;
    float: left;
    margin: 0 10%;
    padding: 0;
    height: 5%;
    min-height: 38px;
    width: 80%;
    min-width: 400px;

    border-radius: 30% 30% 0 0;

    //background-color: rgba(110, 120, 100, 0.8);
    background-color: rgba(26, 32, 22, .5);

    h1 {
      position: relative;
      float: left;

      margin: 1% 0 0 2.5%;
      height: 100%;

      font-size: 42px;
      font-family: optie;

      color: papayawhip;
    }

    p {
      position: relative;
      float: left;

      margin: 1% 0;

      font-size: 18px;
      font-family: popwei;
      //text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
      //text-shadow: -2px 0 #FFF, 0 2px #FFF, 2px 0 #FFF, 0 -2px #FFF;

      color: rgba(150, 250, 0, 0.95);
    }
  }

  #page_body {
    position: relative;
    float: left;
    margin: 0 10%;
    height: 95%;
    width: 80%;
    min-width: 400px;

    background-color: rgba(95, 115, 80, .7)
  }
}