<!DOCTYPE html>
<html>
<head>
  <title>Warious</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div id="sidebar">
    <div id="mainNav"><h1>Warious</h1></div>
    <div id="navbar"></div>

    <ul id="seriesBar">
      <h2>Filter By Series</h2>
      <li class="active"><h3>All</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>ABCD E FGHI JKLMN OPQ RSTUV WXYZ ABC</h3></li>
      <li><h3>-more-</h3></li>
    </ul>
  </div>

  <div id="viewBody">
    <%= yield %>
  </div>
</div>

</body>
</html>
